@import '@csstools/normalize.css';

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  font-style: normal;

  font-display: swap;
  src: local('Roboto'),
  url('../../assets/fonts/roboto-regular.woff2'),
  url('../../assets/fonts/roboto-regular.woff');
}
@font-face {
  font-weight: 500;
  font-family: 'Roboto';
  font-style: normal;

  font-display: swap;
  src: local('Roboto'),
  url('../../assets/fonts/roboto-medium.woff2'),
  url('../../assets/fonts/roboto-medium.woff');
}
@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  font-style: normal;

  font-display: swap;
  src: local('Roboto'),
  url('../../assets/fonts/roboto-bold.woff2'),
  url('../../assets/fonts/roboto-bold.woff');
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  box-sizing: border-box;
  width: 1170px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1366px;

  font-weight: normal;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: #1f1e25;
  text-decoration: none;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}
