.user-nav__list {
  display: flex;
  align-items: center;
  padding-top: 12px;
}

.user-nav__item {
  display: flex;
  align-items: center;
}

.user-nav__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

.user-nav__link::before {
  content: url('../../assets/img/login.svg');

  display: inline-block;
  width: 20px;
  height: 22px;
  margin-right: 10px;
}

.user-nav__link:hover {
  color: #2c36f2;

  opacity: 0.9;

  transition: opacity 0.3s;
}

.user-nav__link:active {
  color: #2c36f2;

  opacity: 0.7;

  transition: opacity 0.3s;
}
