

.history__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-right: 70px;
  padding-bottom: 40px;
  padding-left: 70px;

  background: #f6f7ff;
  border-radius: 0 4px 4px 4px;
}

.history__title {
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 28px;
  line-height: 39px;
  color: #1f1e25;
  font-style: normal;
}

.history__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 53px;
}
